.dashboard-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-left: 80px;
    padding-right: 80px;
    
}
.form-container {
    width: 400px;
    background-color: #4861adff;
    padding: 10px;
    margin-top: 20px;
}

.climb-list-container {
    width: 400px;
    background-color: #4861adff;
    padding: 10px;
    margin-top: 20px;
    margin-left: 20px;
}

.climber-list-container {
    width: 400px;
    background-color: #4861adff;
    padding: 10px;
    margin-top: 20px;
    margin-left: 20px;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 10px;
}
.dash-title {
    color: white;
    margin: auto;
    font-size: 1.8rem;
    align-items: center;
}
.form-field {
    margin: 10px 0 10px 0;
    padding: 15px;
    font-size: 16px;
    border: 0;

}

button {
    background: #301a4bff;
    color: white;
    cursor: pointer;
}

.success-message {
    background-color: #301a4bff;
    padding: 15px;
    color: white;
}

.climb-list {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 10px;
    align-items: center;
}

.slide-container {
    width: 100%;
}


